{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Users ({{ users | length }})</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Assets</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.username }}</th>
                <td>{{ user.assets | length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}