{%  extends 'base.html.twig' %}

{% block main %}
    {#{% if error %}#}
        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-outline-warning">Register</button>
    {{ form_end(form) }}
{% endblock %}